<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title>Culinary Calipers | A Gastric Comparator Experiment</title>
	
	<!-- Framework CSS -->
      	<link rel="stylesheet" href="/static/blueprint/screen.css" type="text/css" media="screen, projection" />
      	<link rel="stylesheet" href="/static/blueprint/print.css" type="text/css" media="print" />
        <link rel="stylesheet" href="/static/blueprint/typography.css" type="text/css" media="print" />
        <!--[if IE]><link rel="stylesheet" href="blueprint/ie.css" type="text/css" media="screen, projection" /><![endif]-->

      	<!-- Custom CSS/Scripts -->
        <link href="/static/diff-styles.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
	<div id="header-background"></div>
        <div class="container">
	    <div class="span-24 last prepend-top append-bottom">&nbsp;</div>
	    {% for restaurant in data %}
		{% if not forloop.last %}
		    <div class="span-8 border diffcolumn">
		{% else %}
		    <div class="span-8 last diffcolumn">
		{% endif %}
                <h2>{{ restaurant.name }}</h2>
		<p class="large">Cost For Two: {{ restaurant.avgCostForTwo }}</p>
		{% if restaurant.hasBar %}
		<p class="large loud">
		{% else %}
		<p class="large quiet">
		{% endif %}
		   Bar
		</p>
            </div>
	    {% endfor %}
            <div class="span-24 last prepend-top append-bottom">&nbsp;</div>
	</div>
	<div id="footer-background"></div>
    </body>    
</html>
